.THIS .navigation{
    background-color: #00005b;
}

.THIS .axa_navi{
    margin-top: 25px;
    margin-bottom: 25px;
}
.THIS .logo{
    max-width: 45px;
    padding-left: 5px;
    padding-bottom: 10px;
}
.THIS .logowrapper{
    background-color: #103184;
    width: 100%;
}

.THIS .logowrapper i{
    color: #ffffff;
}

.THIS .profileMenuRegion{
    margin-top: 25px;
    margin-bottom: 25px;
}

.THIS .searchRegion{
    margin-top: 25px;
    margin-bottom: 25px;
}

.THIS .searchRegion .forceSearchInputDesktop .contentWrapper.focused {
    border: solid 1px #103184;
    box-shadow: 0 0 3px #00005b;
}

.THIS .searchRegion .slds-border_top, .THIS .searchRegion .slds-border--top {
    border-top: none;
}

.THIS .searchRegion .slds-border_right, .THIS .searchRegion .slds-border--right {
    border-right: none;
}

.THIS .searchRegion .slds-border_left, .THIS .searchRegion .slds-border--left {
    border-left: none;
}
.THIS .searchRegion .slds-border_bottom, .THIS .searchRegion .slds-border--bottom {
    border-bottom: none;
}
.THIS .searchRegion .slds-input .slds-text-color_default, .THIS .searchRegion .slds-input .slds-text-color--default {
    color: #00005b;
}

.THIS .searchRegion .slds-text-color_default, .THIS .searchRegion .slds-text-color--default {
    color: #00005b;
}

.THIS .slds-split-view__toggle-button {
    position: absolute;
    right: -50px;
    height: 50px;
    width: 50px;
    background: #f07662;
    border-color: #ec4d33;
}
.THIS .slds-split-view__toggle-button:hover {
    background-color: #ec4d33;
    border-color: #f07662;
}

.THIS .searchRegion input{
    color: #ffffff;
}
.THIS .forceSearchInputDesktop .uiInput .uiInputTextForAutocomplete, .THIS .forceSearchInputDesktop .uiInput .uiInputTextForAutocomplete:focus {
    color: #ffffff;
}

.THIS .searchRegion input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
    opacity: 1; /* Firefox */
}

.THIS .searchRegion .forceSearchInputDesktop .slds-input__icon.inputIcon {
    color: #ffffff;
    -webkit-margin-before: -.5rem;
}
.THIS .slds-split-view {
    color: #ffffff;
    background-color: #00005b;
}